
            <div class="event card">
                  <div class="card-img-left">
                      <img class="card-img-left" src= "<%= result.image_url %>" alt="Card image cap">
                  </div>
                  <div class="card-block">
                      <h2 class="card-title"><a href= # ><%= result.name %></a></h2>
                      <h4 class="rating"><%= result.rating %></h4>
                      <h4 class="price"><%= result.price %></h4>
                      <h4 class="type"><%= result.categories %></h4>
                      <h4 class="address"><%= result.location %></h4>
                  </div>
            </div>
